<!DOCTYPE html>
<html lang="">
<head>
    <%-include('../partials/head_includes')%>
    <style>
        .error
        {
            color:red;
        }
        .card {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body id="page-top">
<%-include('../partials/header')%>
<!-- login-area start -->

<div class="container-fluid card col-md-6 mb-3">
    <h4 align="center" style="color:red;"> Admin Login</h4>
    <hr>
    <div class="log-in-area white-bg ptb-70 small-ptb-30">
        <div class="container ">
            <div class="row justify-content-center">
                <!--  offset-lg-3-->
                <div class="col-lg-6 ">
                    <div class="form-single form-single-right">
                        <form id="loginform">
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" required data-msg-required="Enter Your Email" placeholder="Enter Email" >
                            </div>
                            <div class="mb-3">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" required data-msg-required="Enter Your Password" placeholder="Enter Password" >
                            </div>
                            <button type="button" onclick="LoginAdmin()" class="w-100 mt-3 mb-5 btn-default"><i class="fa fa-lock" aria-hidden="true"></i>Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->
<%-include('../partials/footer')%>
<%-include('../partials/body_includes')%>
<script>
    async function LoginAdmin()
    {
        if($("#loginform").valid())
        {
            var email=document.getElementById("email").value;
            var password=document.getElementById("password").value;
            var res=await fetch('/admin/login',
                {
                    method:'POST',
                    headers:{
                        'Content-Type':"application/json"
                    },
                    body:JSON.stringify({
                        email:email,
                        password:password
                    })
                });
            res=await res.json();
            if(res.error)
            {
                Qual.errordb("Error",res.message);
            }
            else
            {

                Qual.successdb("Success",res.message);
                setTimeout((c)=> {
                        window.location.href = '/admin/dashboard';
                    },2000
                );
            }

        }
    }
    $(document).ready(()=>
    {

        fetchCategoryFilter();
    });
</script>
</body>
</html>