<!DOCTYPE html>
<html lang="">
<head>
    <%-include('../partials/head_includes')%>
    <style>
        .error
        {
            color:red;
        }
        .card {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-body {
            padding: 30px;
            background: linear-gradient(145deg, #c5bdbd, #ede8e6);
            border-radius: 16px;
            box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.4);
            animation: pulse 1.5s infinite alternate;
        }
    </style>
</head>
<body id="page-top" onload="viewAdmins()">
<%-include('../partials/admin_header')%>
<!-- login-area start -->

<div class="container-fluid card col-md-6 mb-3" id="addId" style="display: none;">
    <h4 align="center" style="color:red;"> Add Admin</h4>
    <hr>
    <div class="log-in-area white-bg ptb-70 small-ptb-30">
        <div class="container ">
            <div class="row justify-content-center">
                <!--  offset-lg-3-->
                <div class="col-lg-6 ">
                    <div class="form-single form-single-right">
                        <form id="addAdmin">
                            <div class="mb-3">
                                <label for="name">Full Name</label>
                                <input type="text" name="name" id="name" class="form-control" required data-msg-required="Enter Your Name" placeholder="Enter Your Name" >
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" required data-msg-required="Enter Your Email" placeholder="Enter Email" >
                            </div>
                            <div class="mb-3">
                                <label for="type">Type</label>
                                <select id="type" name="type" class="form-select" required>
                                    <option value="Admin">Admin</option>
                                    <option value="Super Admin">Super Admin</option>
                                </select>
                            </div>

                            <button type="button" onclick="AddAdmin()" class="w-100 mt-3 mb-5 btn-default"><i class="fa fa-lock" aria-hidden="true"></i>Add Admin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<h2 align="center" style="color: orangered; margin-top: 30px;"> View Admin </h2>
<hr>
<div class="container mt-4">
    <div class="row justify-content-center" id="cards">

    </div>
</div>
<!-- login-area end -->
<%-include('../partials/footer')%>
<%-include('../partials/body_includes')%>
<script>
    function generatePassword(length=8)
    {
        const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()';
        return Array.from({ length }, () => chars[Math.floor(Math.random() * chars.length)]).join('');
    }
    async function AddAdmin()
    {
        var x=await fetch('/admin/fetchadmin');
        x=await x.json();
        console.log(x.records);
        if(x.records[0].type=='Super Admin')
        {
            if ($("#addAdmin").valid()) {
                var name = document.getElementById("name").value;
                var email = document.getElementById("email").value;
                var type=document.getElementById("type").value;
                var password = generatePassword();
                var res = await fetch('/admin/addAdmin',
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': "application/json"
                        },
                        body: JSON.stringify({
                            name: name,
                            email: email,
                            type:type,
                            password: password
                        })
                    });
                res = await res.json();
                if (res.error) {
                    Qual.errordb("Error", res.message);
                } else {

                    Qual.successdb("Success", res.message);
                    sendMail(name, email, password);
                }

            }
        }
        else
        {
            Qual.errordb("Error","Only Super Admin Can Add Another Admin");
        }
    }

    async function viewAdmins()
    {
        var res=await fetch('/admin/fetchAlladmin');
        res=await res.json();
        var records=res.records;
        var type=res.type;
        if(type=='Super Admin')
        {
            const card = document.getElementById('addId');
            card.style.display = 'block';
        }
        // console.log(records);
        var html=``;
        for(var x of records)
        {
            html+=`<div class="col-lg-6 col-md-6 mb-4">
            <div class="card card-custom card-grey text-white">

                <div class="card-body">
                    <h5 class="  text-center">Name:- ${x.name}</h5>
                    <h5 class=" text-center">Email:- ${x.email}</h5>
                    <h5 class=" text-center">Type:- ${x.type}</h5>
                    <div class='offset-4 mt-3 mb-3'>`;
            if(type=='Super Admin')
            {
                html+=`<button class="btn-default btn-approve" onclick="DeleteAdmin(${x.id})">Delete</button>`;
            }
              html+=`
                    </div>
                   </div>
                </div>
            </div>
        </div>`;

        }
        document.getElementById("cards").innerHTML=html;
    }

    async function sendMail(name,email,password)
    {
        var res = await fetch('/admin/send_email_admin', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                email: email,
                password:password,
                name:name
            })
        });
        res = await res.json();
        // console.log(res.message);
        if (res.error)
        {
            Qual.errordb("Error", res.message);

        } else
        {
            Qual.successdb("Success", res.message);
        }
    }
    async function DeleteAdmin(id)
    {
        try {
            //agar hum method type nahi denge to get se delete hoga
            var res = await fetch("/admin/delete_admin/"+id,{method:'DELETE'});
            res = await res.json();
            if(res.error)
            {
                Qual.errordb("Error",res.message);
            }
            else
            {
                Qual.successdb("Success",res.message);
                viewAdmins();
            }
        }
        catch (e)
        {
            console.log(e.message);
        }
    }
</script>
</body>
</html>