<!-- Preloader Start -->
<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="/images/loader.svg" alt=""></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Header Start -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="index.html">
                    <img src="/images/flexride.jpg" style="width:130px;" alt="Logo">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item "><a class="nav-link" href="/dealer/dashboard">Dashboard</a>
                            </li>
<!--                            <li class="nav-item"><a class="nav-link" href="/dealer/manage_category">Manage Category</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="/dealer/manage_vehicle">Manage Vehicle</a></li>
<!--                            <li class="nav-item"><a class="nav-link" href="/dealer/manage_booking_req">Manage Booking Request</a></li>-->
                            <li class="nav-item submenu"><a class="nav-link" href="">Booking Request</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="/dealer/manage_booking_req">Pending Requests</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/dealer/view_approved_req">Approved Requests</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/dealer/view_completed_req">Completed Requests</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/dealer/view_cancelled_req">Cancelled Requests</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu"><a class="nav-link" href="">Settings</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="/dealer/changePassword">Change Password</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/dealer/profile">Profile</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/dealer/logout">Logout</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <!-- Let’s Start Button Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="/" class="btn btn-danger btn-lg" style="border-radius: 50px; background-color: red;">← Back</a>
                    </div>
                    <!-- Let’s Start Button End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->