<!-- Footer Start -->
<footer class="main-footer bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- About Footer Start -->
                <div class="about-footer">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="/images/flexride.jpg" style="width:130px;" alt="">
                    </div>
                    <!-- Footer Logo End -->

                    <!-- About Footer Content Start -->
                    <div class="about-footer-content">
                        <p>Experience the ease and convenience of renting a Vehicle with Novaride. </p>
                    </div>
                    <!-- About Footer Content End -->
                </div>
                <!-- About Footer End -->
            </div>

            <div class="col-lg-3 col-md-4">
                <!-- Footer Quick Links Start -->
                <div class="footer-links footer-quick-links">
                    <h3>Login</h3>
                    <ul>
                        <li><a href="/user/login">user</a></li>
                        <li><a href="/dealer/login">dealer</a></li>

                    </ul>
                </div>
                <!-- Footer Quick Links End -->
            </div>

            <div class="col-lg-3 col-md-4">
                <!-- Footer Menu Start -->
                <div class="footer-links footer-menu">
                    <h3>quick links</h3>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="/about">about us</a></li>
                        <li><a href="/contact">contact us</a></li>
                        <li><a href="/vehicles/all">cars</a></li>
                    </ul>
                </div>
                <!-- Footer Menu End -->
            </div>

            <div class="col-lg-3 col-md-4">
                <!-- Footer Newsletter Start -->
                <div class="footer-newsletter">
                    <h3>Subscribe to the Newsleeters</h3>
                    <!-- Footer Newsletter Form Start -->
                    <div class="footer-newsletter-form">
                        <form id="newslettersForm" action="" method="POST">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control"  id="mail" placeholder="Email ..." required>
                                <button type="submit" class="section-icon-btn"><img src="/images/arrow-white.svg" alt=""></button>
                            </div>
                        </form>
                    </div>
                    <!-- Footer Newsletter Form End -->
                </div>
                <!-- Footer Newsletter End -->
            </div>
        </div>

        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright-text">
                        <p>© 2025 Novaride. All rights reserved.</p>
                    </div>
                    <!-- Footer Copyright End -->
                </div>

                <div class="col-lg-6 col-md-5">
                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://x.com/?lang=en"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/home"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright Section End -->
    </div>
</footer>
<!-- Footer End -->
<script>
    async function fetchCategoryFilter()
    {
        var res=await fetch('/fetchCategories');
        res=await res.json();
        var records=res.records;
        // console.log(records);
        var html=`<li class="nav-item"><a class="nav-link" href="/vehicles/all">All</a></li>`;
        for(var x of records)
        {
            html+=`<li class="nav-item"><a class="nav-link" href="/vehicles/${x.id}">${x.name}</a></li>`;
        }
        document.getElementById("vehicles").innerHTML=html;
    }
</script>