<!-- Preloader Start -->
<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="/images/loader.svg" alt=""></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Header Start -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="index.html">
                    <img src="/images/logo.svg" alt="Logo">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item "><a class="nav-link" href="/user/dashboard">Dashboard</a>
                            </li>
<!--                            <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>-->
<!--                            <li class="nav-item"><a class="nav-link" href="">Services</a></li>-->
                            <li class="nav-item submenu"><a class="nav-link" href="" >Rent Vehicle</a>
                                <ul id="vehicles">

                                </ul>
                            </li>
                            <li class="nav-item submenu"><a class="nav-link" href="">Settings</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="/user/changePassword">Change Password</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/profile">Profile</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Let’s Start Button Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="/user/view_booking" class="btn-default">My Bookings</a>
                    </div>
                    <!-- Let’s Start Button End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->