<!DOCTYPE html>
<html lang="zxx">
<head>
    <%-include('partials/head_includes')%>
    <style>

    </style>
</head>
<body onload="fetchReview()">
    <%-include('partials/header')%>
    <!-- Hero Slider Section Start -->
    <div class="hero hero-slider">
        <div class="hero-section bg-section hero-slider-layout">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- Hero Slide Start -->
                    <div class="swiper-slide">
                        <div class="hero-slide">
                            <!-- Slider Image Start -->
                            <div class="hero-slider-image">
                                <img src="/images/bike.jpg" alt="">
                            </div>
                            <!-- Slider Image End -->

                            <!-- Slider Content Start -->
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">welcome to Vehicle rent</h3>
                                                <h1 class="text-anime-style-3" data-cursor="-opaque">Looking to save more on your rental Vehicle?</h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.25s">Whether you're planning a weekend getaway, a business trip, or just need a reliable ride for the day, we offers a wide range of vehicles to suit your needs.</p>
                                            </div>

                                            <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
                                                <a href="/vehicles/all" class="btn-default">book a rental</a>
<!--                                                <a href="#" class="btn-default btn-highlighted">learn more</a>-->
                                            </div>
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                    </div>
                    <!-- Hero Slide End -->

                    <!-- Hero Slide Start -->
                    <div class="swiper-slide">
                        <div class="hero-slide">
                            <!-- Slider Image Start -->
                            <div class="hero-slider-image">
                                <img src="/images/hero-bg-2.jpg" alt="">
                            </div>
                            <!-- Slider Image End -->

                            <!-- Slider Content Start -->
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">welcome to Vehicle rent</h3>
                                                <h1 class="text-anime-style-3" data-cursor="-opaque">Looking to save more on your rental Vehicle?</h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.25s">Whether you're planning a weekend getaway, a business trip, or just need a reliable ride for the day, we offers a wide range of vehicles to suit your needs.</p>
                                            </div>

                                            <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
                                                <a href="/vehicles/all" class="btn-default">book a rental</a>
<!--                                                <a href="#" class="btn-default btn-highlighted">learn more</a>-->
                                            </div>
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                    </div>
                    <!-- Hero Slide End -->

                    <!-- Hero Slide Start -->
                    <div class="swiper-slide">
                        <div class="hero-slide">
                            <!-- Slider Image Start -->
                            <div class="hero-slider-image">
                                <img src="/images/hero-bg-3.jpg" alt="">
                            </div>
                            <!-- Slider Image End -->

                            <!-- Slider Content Start -->
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">welcome to Vehicle rent</h3>
                                                <h1 class="text-anime-style-3" data-cursor="-opaque">Looking to save more on your rental Vehicle?</h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.25s">Whether you're planning a weekend getaway, a business trip, or just need a reliable ride for the day, we offers a wide range of vehicles to suit your needs.</p>
                                            </div>

                                            <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
                                                <a href="/vehicles/all" class="btn-default">book a rental</a>

                                            </div>
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                    </div>
                    <!-- Hero Slide End -->
                </div>
                <div class="hero-pagination"></div>
            </div>
        </div>

        <!-- Rent Details Section Start -->

        <!-- Rent Details Section End -->
    </div>
    <!-- Hero Slider Section End -->

    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Us Image Start -->
                    <div class="about-image">
                        <!-- About Image Start -->
                        <div class="about-img-1">
                            <figure class="reveal">
                                <img src="images/about-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Image End -->

                        <!-- About Image Start -->
                        <div class="about-img-2">
                            <figure class="reveal">
                                <img src="images/about-img-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Image End -->
                    </div>
                    <!-- About Us Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Your trusted partner in reliable Vehicle rental</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Aqestic Optio Amet A Ququam Saepe Aliquid Voluate Dicta Fuga Dolor Saerror Sed Earum A Magni Soluta Quam Minus Dolor Dolor</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Content Body Start -->
                        <div class="about-content-body">
                            <!-- About Trusted Booking Start -->
                            <div class="about-trusted-booking wow fadeInUp" data-wow-delay="0.5s">
                                <div class="icon-box">
                                    <img src="images/icon-about-trusted-1.svg" alt="">
                                </div>
                                <div class="trusted-booking-content">
                                    <h3>easy booking process</h3>
                                    <p>We Have Optimized The Booking Process So That Our Clients Can Experience The Easiest And The Safest Service</p>
                                </div>
                            </div>
                            <!-- About Trusted Booking End -->

                            <!-- About Trusted Booking Start -->
                            <div class="about-trusted-booking wow fadeInUp" data-wow-delay="0.75s">
                                <div class="icon-box">
                                    <img src="images/icon-about-trusted-2.svg" alt="">
                                </div>
                                <div class="trusted-booking-content">
                                    <h3>convenient pick-up & return process</h3>
                                    <p>We Have Optimized The Booking Process So That Our Clients Can Experience The Easiest And The Safest Service</p>
                                </div>
                            </div>
                            <!-- About Trusted Booking End -->
                        </div>
                        <!-- About Content Body End -->

                        <!-- About Content Footer Start -->
                        <div class="about-content-footer wow fadeInUp" data-wow-delay="1s">
                            <a href="/contact" class="btn-default">contact us</a>
                        </div>
                        <!-- About Content Footer End -->
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->


    <!-- How It Work Section Start -->
    <div class="how-it-work">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- How Work Content Start -->
                    <div class="how-work-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">how it work</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Streamlined processes for a hassle-free experience</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Our streamlined process ensures a seamless car rental experience from start to finish. With easy online booking, flexible pick-up and drop-off options.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- How Work Accordion Start -->
                        <div class="how-work-accordion" id="workaccordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="icon-box">
                                    <img src="images/icon-how-it-work-1.svg" alt="">
                                </div>
                                <h2 class="accordion-header" id="workheading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#workcollapse1" aria-expanded="true" aria-controls="workcollapse1">
                                        browse and select
                                    </button>
                                </h2>
                                <div id="workcollapse1" class="accordion-collapse collapse show" aria-labelledby="workheading1"
                                     data-bs-parent="#workaccordion">
                                    <div class="accordion-body">
                                        <p>Explore our diverse selection of high-end vehicles, choose your preferred pickup and return dates, and select a location that best fits your needs.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                                <div class="icon-box">
                                    <img src="images/icon-how-it-work-2.svg" alt="">
                                </div>
                                <h2 class="accordion-header" id="workheading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#workcollapse2" aria-expanded="false" aria-controls="workcollapse2">
                                        book and confirm
                                    </button>
                                </h2>
                                <div id="workcollapse2" class="accordion-collapse collapse" aria-labelledby="workheading2"
                                     data-bs-parent="#workaccordion">
                                    <div class="accordion-body">
                                        <p>Explore our diverse selection of high-end vehicles, choose your preferred pickup and return dates, and select a location that best fits your needs.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="1s">
                                <div class="icon-box">
                                    <img src="images/icon-how-it-work-3.svg" alt="">
                                </div>
                                <h2 class="accordion-header" id="workheading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#workcollapse3" aria-expanded="false" aria-controls="workcollapse3">
                                        book and enjoy
                                    </button>
                                </h2>
                                <div id="workcollapse3" class="accordion-collapse collapse" aria-labelledby="workheading3"
                                     data-bs-parent="#workaccordion">
                                    <div class="accordion-body">
                                        <p>Explore our diverse selection of high-end vehicles, choose your preferred pickup and return dates, and select a location that best fits your needs.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                        </div>
                        <!-- How Work Accordion End -->
                    </div>
                    <!-- How Work Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- How Work Image Start -->
                    <div class="how-work-image">
                        <!-- How Work Image Start -->
                        <div class="how-work-img">
                            <figure class="reveal">
                                <img src="images/about-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- How Work Image End -->

                        <!-- Trusted Client Start -->
                        <div class="trusted-client">
                            <div class="trusted-client-content">
                                <h3><span class="counter">5</span>m+ Trusted world wide global clients</h3>
                            </div>
                            <div class="trusted-client--image">
                                <img src="images/trusted-client-img.png" alt="">
                            </div>
                        </div>
                        <!-- Trusted Client End -->
                    </div>
                    <!-- How It Work Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- How It Work Section End -->



    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">why choose us</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Unmatched quality and service for your needs</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 order-lg-1 order-md-1 order-1">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-why-choose-1.svg" alt="">
                        </div>
                        <div class="why-choose-content">
                            <h3>extensive fleet options</h3>
                            <p>Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->

                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="icon-box">
                            <img src="images/icon-why-choose-2.svg" alt="">
                        </div>
                        <div class="why-choose-content">
                            <h3>exceptional customer service</h3>
                            <p>Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->
                </div>

                <div class="col-lg-4 col-md-12 order-lg-2 order-md-3 order-2">
                    <div class="why-choose-image">
                        <figure class="reveal">
                            <img src="images/why-choose-img.jpg" alt="">
                        </figure>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 order-lg-3 order-md-2 order-3">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-why-choose-3.svg" alt="">
                        </div>
                        <div class="why-choose-content">
                            <h3>convenient locations</h3>
                            <p>Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->

                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="icon-box">
                            <img src="images/icon-why-choose-4.svg" alt="">
                        </div>
                        <div class="why-choose-content">
                            <h3>reliability and safety</h3>
                            <p>Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

    <!-- Our FAQs Section Start -->
    <div class="our-faqs bg-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1 order-md-2 order-2">
                    <!-- Our Faqs Image Start -->
                    <div class="our-faqs-image">
                        <div class="faqs-img-1">
                            <figure class="image-anime">
                                <img src="images/our-faqs-img-1.jpg" alt="">
                            </figure>
                        </div>

                        <div class="faqs-img-2">
                            <figure class="image-anime">
                                <img src="images/our-faqs-img-2.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <!-- Our Faqs Image End -->
                </div>

                <div class="col-lg-6 order-lg-2 order-md-1 order-1">
                    <!-- Our Faqs Content Start -->
                    <div class="our-faqs-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">frequently asked questions</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Everything you need to know about our services</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Our Faqs Accordion Start -->
                        <div class="our-faqs-accordion" id="faqsaccordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                                <h2 class="accordion-header" id="faqheading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faqcollapse1" aria-expanded="true" aria-controls="faqcollapse1">
                                        What do I need to rent a car?
                                    </button>
                                </h2>
                                <div id="faqcollapse1" class="accordion-collapse collapse show" aria-labelledby="faqheading1"
                                     data-bs-parent="#faqsaccordion">
                                    <div class="accordion-body">
                                        <p>Explore our diverse selection of high-end vehicles, choose your preferred pickup and return dates, and select a location that best fits your needs.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                                <h2 class="accordion-header" id="faqheading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faqcollapse2" aria-expanded="false" aria-controls="faqcollapse2">
                                        How old do I need to be to rent a car?
                                    </button>
                                </h2>
                                <div id="faqcollapse2" class="accordion-collapse collapse" aria-labelledby="faqheading2"
                                     data-bs-parent="#faqsaccordion">
                                    <div class="accordion-body">
                                        <p>Explore our diverse selection of high-end vehicles, choose your preferred pickup and return dates, and select a location that best fits your needs.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                                <h2 class="accordion-header" id="faqheading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faqcollapse3" aria-expanded="false" aria-controls="faqcollapse3">
                                        Can I rent a car with a debit card?
                                    </button>
                                </h2>
                                <div id="faqcollapse3" class="accordion-collapse collapse" aria-labelledby="faqheading3"
                                     data-bs-parent="#faqsaccordion">
                                    <div class="accordion-body">
                                        <p>Explore our diverse selection of high-end vehicles, choose your preferred pickup and return dates, and select a location that best fits your needs.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                        </div>
                        <!-- Our Faqs Accordion End -->
                    </div>
                    <!-- Our Faqs Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our FAQs Section End -->

    <!-- Our Testiminial Start -->
    <div class="our-testimonial">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">

                        <h2 class="text-anime-style-3" data-cursor="-opaque">Vehicle Reviews </h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-12">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag" id="reviews">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>Renting a car from nova ride was a great decision. Not only did I get a reliable and comfortable vehicle, but the prices were also very competitive.</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-body">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="images/author-1.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>floyd miles</h3>
                                                <p>project manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>Renting a car from nova ride was a great decision. Not only did I get a reliable and comfortable vehicle, but the prices were also very competitive.</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-body">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="images/author-2.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>annette black</h3>
                                                <p>project manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>Renting a car from nova ride was a great decision. Not only did I get a reliable and comfortable vehicle, but the prices were also very competitive.</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-body">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="images/author-3.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>leslie alexander</h3>
                                                <p>project manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>Renting a car from nova ride was a great decision. Not only did I get a reliable and comfortable vehicle, but the prices were also very competitive.</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-body">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="images/author-4.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>alis white</h3>
                                                <p>project manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                            </div>
                            <div class="testimonial-btn">
                                <div class="testimonial-button-prev"></div>
                                <div class="testimonial-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Slider End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testiminial End -->




    <%-include('partials/footer')%>
    <%-include('partials/body_includes')%>
    <script src="/checkuser.js"></script>
    <script src="/checkdealer.js"></script>
    <script>

        $(document).ready(()=>
        {
            checkuser();
            checkdealer();
            fetchCategoryFilter();
        });
        async function fetchReview()
        {
            var res=await fetch('/fetchreviews');
            res=await res.json();
            var records=res.records;
            // console.log(records);
            var html=``;
            for(var x of records)
            {
                html+=`<div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-header">
                                        <div class="testimonial-rating">`
                for(var i=1; i<=x.rating; i++)
                {
                    html+=` <i class="fa-solid fa-star"></i>`;
                }
                for(var i=1; i<=5-x.rating; i++)
                {
                    html+=` <i class="fa-regular fa-star"></i>`;
                }
                html+=`</div>
                                        <div class="testimonial-content">
                                            <h5>${x.user.first_name} ${x.user.last_name}</h5>
                                            <p> ${x.feedback}</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-body">
                                        <div class="author-image">
                                            <figure class="image-anime">
                                                <img src="${x.vehicle.car_photo}" alt="">
                                            </figure>
                                        </div>
                                        <div class="author-content">
                                            <h3>${x.vehicle.name} </h3>
                                            <p>${x.vehicle.vehicle_model}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
            }
            document.getElementById("reviews").innerHTML=html;
        }
    </script>
</body>
</html>